#submitSearchBtn {
  margin-bottom: 1rem;
  padding-left: 8px;
}

.filterTR td {
  float: left;
}

#filterContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mat-option {
  font-size: inherit;
  .mat-icon {
    margin-right: 0;
    float: right;
    padding-top: 9px;
  }
}

.mat-form-field {
  width: 24%;
  min-width: 265px;
}

@media only screen and (max-width: 1024px) {
  .mat-form-field {
    width: 48%;
  }
}

@media only screen and (max-width: 768px) {
  #submitSearchBtn,
  .mat-form-field {
    width: 100%;
  }
}
