<div class="home-wrapper p-4">
  <h2>About cerebroUI</h2>
  <p>Based on Unicorn's Cerebro Discord Bot, cerebroUI is a project designed to help Marvel Champions players query for
    cards.</p>
  <p>Prefer a bot that you can use in your own discord server? Check out the original: <a
      href="https://discord.com/api/oauth2/authorize?client_id=895469977602236426&permissions=534723815488&scope=bot%20applications.commands">Cerebro</a>
  </p>
  <h2>Contact Us</h2>
  <p>You can reach us with comments, questions, or feedback at <a href="mailto:cap@cerebroui.com">cap&#64;cerebroui.com</a>
  </p>
  <p><a href="https://discord.gg/765hh5kMpK">Join us on Discord!</a></p>
</div>
