.card * {
  text-align: center;
  justify-content: center;
}

img {
  max-height: 420px;
}

a {
  text-decoration: none;
}

.card-img {
  margin: 0 auto;
  display: block;
}

@media(max-width: 600px) {
  .card-img {
    max-width: 100%;
    height: 100%;
  }
}
