.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .flex-1 {
    flex: 1;
  }
}

.container {
  padding: 3rem;
  margin: auto;
}

mat-toolbar {
  a {
    text-decoration: none;
    color: inherit;
  }
}

span.clear {
  clear: left;
  display: block;
}

.scroll-to-top {
  position: fixed;
  bottom: 0.2rem;
  right: 0.2rem;
}

.footer {
  font-size: 14px;
  a {
    margin: 0 1rem;
  }
}
