<div class="page-wrapper" id="bg">

  <app-header></app-header>

  <div class="flex-1">
    <router-outlet></router-outlet>
  </div>


  <footer class="bg-dark container-fluid mt-1">
    <div class="row p-3">
      <div class="col-sm-6 text-light">
        <small>
          The information presented on this site about Marvel Champions: The Card Game, both literal and graphical, is
          copyrighted by Fantasy Flight Games. This website is not produced, endorsed, supported, or affiliated with
          Fantasy Flight Games.
        </small>
      </div>
      <div class="col-sm-6 py-4 d-flex justify-content-around">
        <a href="https://discord.gg/765hh5kMpK" class="link-light px-2">Join us on Discord</a>
        <a href="mailto:cap@cerebroui.com" class="link-light px-2">Contact us</a>
        <a href="https://www.patreon.com/UnicornSnuggler" class="link-light px-2">Patreon</a>
        <a href="https://discord.com/api/oauth2/authorize?client_id=895469977602236426&permissions=534723815488&scope=bot%20applications.commands"
          class="link-light px-2">Install Discord Bot</a>
      </div>
      <!-- <a routerLink="/about" class="link-light p-1">About Us</a>
    <a routerLink="/donate" class="link-light p-1">Donate</a> -->
    </div>
  </footer>

  <button type="button" *ngIf="pageYoffset > 0" (click)="scrollToTop()" class="btn btn-dark scroll-to-top">
    <span class="fa fa-arrow-up"></span>
  </button>

</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
