<div class="page-wrapper">
  <mat-toolbar color="primary">
    <a routerLink="/">{{title}}</a>
  </mat-toolbar>

  <div class="container flex-1">
    <router-outlet></router-outlet>
  </div>

  <!-- <mat-toolbar color="basic" class="footer">
    <a routerLink="/help">Help</a>
    <a routerLink="/about">About Us</a>
    <a routerLink="/donate">Donate</a>
  </mat-toolbar> -->

  <button type="button" *ngIf="pageYoffset > 0" mat-mini-fab (click)="scrollToTop()" class="scroll-to-top">
    <mat-icon>keyboard_arrow_up</mat-icon>
 </button>

</div>
