<mat-form-field *ngIf="searchFilter.type == 'text' || !searchFilter.type" class="full-width" appearance="fill">
  <mat-label>{{$any(searchFilter).name}}</mat-label>
  <input matInput type="text" [(ngModel)]="searchFilter.value" name="cardText">
</mat-form-field>

<mat-form-field *ngIf="searchFilter.type == 'select'" appearance="fill">
  <mat-label>{{$any(searchFilter).name}}</mat-label>
  <mat-select *ngIf="!searchFilter.allowMultiple && !searchFilter.searchable" [(ngModel)]="$any(searchFilter).value"
    name="$any(searchFilter).value">
    <mat-option>Any</mat-option>
    <mat-option *ngIf="searchFilter.name == 'Cost'" value="–">–</mat-option>
    <mat-option *ngFor="let option of $any(searchFilter).options" [value]="option.value || option">
      {{option.name || option}}
    </mat-option>
  </mat-select>
  <mat-chip-list *ngIf="searchFilter.allowMultiple" #chipList>
    <mat-chip *ngFor="let option of selectedValues" (removed)="remove(option)">
      {{option}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input placeholder="Search {{$any(searchFilter).name}}" #filterInput [formControl]="filterCtrl"
      [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <ng-container *ngFor="let option of filteredOptions | async">
      <mat-option *ngIf="!selectedValues.includes(option)" [value]="option">
        {{option}}
      </mat-option>
    </ng-container>
  </mat-autocomplete>
  <ng-container *ngIf="!searchFilter.allowMultiple && searchFilter.searchable">
    <input type="text" placeholder="Search {{$any(searchFilter).name}}" matInput [formControl]="filterCtrl"
      [matAutocomplete]="auto">
    <button *ngIf="filterCtrl.value" matSuffix mat-icon-button aria-label="Clear" (click)="filterCtrl.setValue('')" class="filterClearButton">
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option>Any</mat-option>
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </ng-container>
</mat-form-field>
