<div class="home-wrapper p-4">
  <h2>Supporting Cerebro</h2>
  <p>We are but humble nerds who are overjoyed you not only use this application but are considering supporting us?
    That's crazy. You're crazy. We're crazy. Friends? Friends. If you are enjoying Cerebro, or aren't and want to
    motivate us to fix that for you, we would greatly appreciate any contribution to help offset our costs, reward our
    efforts, and stroke our egos.</p>
  <p><a href="https://www.patreon.com/UnicornSnuggler">Patreon</a></p>
  <p><a href="https://github.com/sponsors/UnicornSnuggler">GitHub Sponsorship</a></p>
  <p><a href="https://www.paypal.com/paypalme/porkchopdonut">PayPal.Me</a></p>
</div>
